.diy
{
    padding: 10%;
    h1
    {
        color: #e38ba1;
    }
    h2 
    {
        color: #e38ba1;
    }
    ul 
    {
        margin: 5% 0;
        padding-left: 10%;
    }
    .conclusion 
    {
        font-style: italic;
        margin-top: 10%;
        padding: 5%;
        background-color: #ecf0f1;
    } 
    .imgdiy
    {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .diy
    {
           padding: 10%;
    
    }
   
     }