.diy
{
    padding: 100px;
}
h1
{
    color: #e38ba1;
}
h2 {
    color: #e38ba1;

}
ul {
    margin: 10px 0;
    padding-left: 20px;
}
.conclusion {
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
}