@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
}

header {
  text-align: center;
  margin-bottom: 0px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.conteiner {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  height: 100vh;
}

/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffd0da;
  color: #e38ba1;
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.custom-navbar {
  background-color: #ffd0da;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(102, 58, 58);
}
.nav-links a .nav-item {
  margin: 0 25px;
}
.nav-links a .nav-links a:hover {
  background-color: #960f3c;
}

footer {
  background-color: #ffd0da;
  color: btn;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
footer .lista-footer {
  list-style-type: none;
}
footer .links-footer {
  text-decoration: none;
  color: rgb(102, 58, 58);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 600px;
  background-image: url(../image/Sin\ título-1_Mesa\ de\ trabajo\ 1.png);
  color: rgb(148, 104, 104);
}
.banner .text-side {
  flex: 60%;
  padding-right: 50px;
}
.banner .image-side {
  flex: 40%; /* Toma el 50% del espacio disponible */
  display: flex; /* Usar Flexbox dentro de la imagen */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  height: auto;
  padding: 20px;
}
.banner .btn {
  background-color: rgb(227, 139, 161);
  border: none;
  color: #ffffff;
}
.banner .image-side img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .banner {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    height: auto; /* Altura automática */
    padding: 20px;
  }
  .image-side {
    height: auto;
    padding: 0;
  }
  .text-side {
    margin-top: 50px;
    text-align: center; /* Centra el texto */
  }
}
.bannerdos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 500px;
  color: rgb(148, 104, 104);
}
.bannerdos .image-dos {
  flex: 50%; /* Toma el 50% del espacio disponible */
  display: flex; /* Usar Flexbox dentro de la imagen */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  height: auto;
  padding: 50px;
}
.bannerdos .image-side img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .bannerdos {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    height: auto; /* Altura automática */
    margin-left: 20px;
    margin-right: 20px;
  }
  .image-dos {
    height: auto;
    padding: 0;
  }
}
.cards {
  padding: 20px;
}
.cards a {
  background-color: rgb(227, 139, 161);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.cards a:hover {
  background-color: rgb(200, 100, 120); /* Nuevo color de fondo */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
}

@media (max-width: 768px) {
  .cards {
    padding: 40px;
  }
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo img {
  max-width: 80%;
  height: auto;
  transition: max-width 0.3s ease;
}

@media (max-width: 768px) {
  .imagen-container img {
    max-width: 60%;
  }
}
.diy {
  padding: 100px;
}
.diy h1 {
  color: #e38ba1;
}
.diy h2 {
  color: #e38ba1;
}
.diy ul {
  margin: 10px 0;
  padding-left: 20px;
}
.diy .conclusion {
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
  background-color: #ecf0f1;
}

@media (max-width: 768px) {
  .diy {
    padding: 35px;
  }
}
.conteiner-contacto {
  display: grid;
  grid-template-rows: auto;
}

#contacto {
  padding: 30px;
  margin-bottom: 30px;
  width: 600px;
  align-content: normal;
}
#contacto h2 {
  color: #e38ba1;
}
#contacto label {
  color: rgb(148, 104, 104);
}
#contacto button {
  background-color: rgb(227, 139, 161);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#contacto button:hover {
  background-color: rgb(200, 100, 120); /* Nuevo color de fondo */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
}

@media (max-width: 768px) {
  #contacto {
    margin-top: none;
    padding: 35px;
  }
}

/*# sourceMappingURL=estilos.css.map */
