html{
    scroll-behavior: smooth;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: auto; 
    background-image: url(../image/fondo3.png); 
    
    color: rgb(148, 104, 104);
    position: relative; /* Asegúrate de que la posición sea adecuada */
            .text-side 
        {
            flex: 50%;
            

        }
        
        .image-side 
        {
            flex: 50%; /* Toma el 50% del espacio disponible */
            display: flex; /* Usar Flexbox dentro de la imagen */
            justify-content: center; /* Centra la imagen horizontalmente */
            align-items: center; /* Centra la imagen verticalmente */
            height: auto;
            padding: 3%;
        }

        .btn
        {
            background-color: rgb(227, 139, 161);
            border: none;
            color: #ffffff;
        }

        .image-side img 
        {
            max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la relación de aspecto */
        }
        .content {
        
            padding: 5%;
    }
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .banner {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto; /* Altura automática */
        width: 100%;
        
    }
    .image-side
    {
        width: 90%;
        height: auto;
   

    }

    .text-side {
        width: 90%;
        margin-top: 10%;
        text-align: center; /* Centra el texto */
}
.content {
        width: 90%;
        margin-top: 10%;
        padding: 5%;
}
}



.bannerdos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;   
    padding: 5%;
    color: rgb(148, 104, 104);
    
       
        .imagen 
        {
            flex: 50%; /* Toma el 50% del espacio disponible */
            display: flex; /* Usar Flexbox dentro de la imagen */
            justify-content: center; /* Centra la imagen horizontalmente */
            align-items: center; /* Centra la imagen verticalmente */
            height: 100%;
           
        }

        .image-side img 
        {
            max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la relación de aspecto */
        }

        .content
    {
        align-self: auto;
        flex: 50%;
        width: 90%;
       
        
    }
    a
        {
            background-color: rgb(227, 139, 161); 
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        a:hover {
            background-color: rgb(200, 100, 120); /* Nuevo color de fondo */
            transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
            color: #ffffff;
        }
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .bannerdos {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto; /* Altura automática */
        width: 100%;
       
        margin-right: 10%;
    }
   
    .image-dos
    {
        width: 90%;
        height: auto;
   

    }

    

}

.cards
{
    padding-bottom: 5%;
        a
        {
            background-color: rgb(227, 139, 161); 
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        a:hover {
            background-color: rgb(200, 100, 120); /* Nuevo color de fondo */
            transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
        }
}


@media (max-width: 768px) {
.cards
{
    padding: 10%;
}
 }


.titulo {
    padding-top: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    

        img {
            max-width: 80%;           
            height: auto;             
            transition: max-width 0.3s ease; 
        }
    }

@media (max-width: 768px) {
    .imagen-container img {
        max-width: 60%;       
    }
}
