.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    height: 600px; 
    background-image: url(../image/Sin\ título-1_Mesa\ de\ trabajo\ 1.png); 
    color: rgb(148, 104, 104);

            .text-side 
        {
            flex: 60%;
            padding-right: 50px;

        }

        .image-side 
        {
            flex: 40%; /* Toma el 50% del espacio disponible */
            display: flex; /* Usar Flexbox dentro de la imagen */
            justify-content: center; /* Centra la imagen horizontalmente */
            align-items: center; /* Centra la imagen verticalmente */
            height: auto;
            padding: 20px;
        }

        .btn
        {
            background-color: rgb(227, 139, 161);
            border: none;
            color: #ffffff;
        }

        .image-side img 
        {
            max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la relación de aspecto */
        }

}


/* Estilos responsivos */
@media (max-width: 768px) {
    .banner {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto; /* Altura automática */
        padding: 20px;
    }
    .image-side
    {
        height: auto;
        padding: 0;

    }

    .text-side {
        margin-top: 50px;
        text-align: center; /* Centra el texto */
}
}

.bannerdos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    height: 500px;   
    color: rgb(148, 104, 104);


        .image-dos 
        {
            flex: 50%; /* Toma el 50% del espacio disponible */
            display: flex; /* Usar Flexbox dentro de la imagen */
            justify-content: center; /* Centra la imagen horizontalmente */
            align-items: center; /* Centra la imagen verticalmente */
            height: auto;
            padding: 50px;
        }

        .image-side img 
        {
            max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la relación de aspecto */
        }
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .bannerdos {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto; /* Altura automática */
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-dos
    {
        height: auto;
        padding: 0;

    }

}

.cards
{
    padding: 20px;

        a
        {
            background-color: rgb(227, 139, 161); 
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        a:hover {
            background-color: rgb(200, 100, 120); /* Nuevo color de fondo */
            transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón */
        }
}


@media (max-width: 768px) {
.cards
{
    padding: 40px;
}
 }


.titulo {
    display: flex;
    justify-content: center; 
    align-items: center;      
    

        img {
            max-width: 80%;           
            height: auto;             
            transition: max-width 0.3s ease; 
        }
    }

@media (max-width: 768px) {
    .imagen-container img {
        max-width: 60%;       
    }
}

